nav {
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #7755a0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #5f2aa5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
  color: #fff !important;
  cursor: pointer;
}
