<div class="bwm-form">
  <div class="row">
    <div class="col-md-5">
      <form [formGroup]="formGroup" (ngSubmit)="contains()">
        <h1>Patient verification</h1>
        <div class="form-group">
          <input
          
            [ngClass]="{
              'is-invalid':
                formGroup.get('name').errors && formGroup.get('name').touched
            }"
            placeholder="Name"
            formControlName="name"
            class="form-control"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              formGroup.get('name').hasError('required') &&
              formGroup.get('name').touched
            "
          >
            The name field is required.
          </div>
        </div>
        <div class="form-group">
          <input
            placeholder="Last Name"
            [ngClass]="{
              'is-invalid':
                formGroup.get('lastName').errors &&
                formGroup.get('lastName').touched
            }"
            class="form-control"
            formControlName="lastName"
          />

          <div
            *ngIf="
              formGroup.get('lastName').hasError('required') &&
              formGroup.get('lastName').touched
            "
            class="invalid-feedback"
          >
            The last name field is required.
          </div>
        </div>

        <button type="submit" class="btn btn-bwn btn-block">
          <i class="far fa-save"></i>
          Check if patient exists
        </button>
      </form>
    </div>
    <div class="col-md-6 ml-auto">
      <div class="image-container">
        <img
          src="https://res.cloudinary.com/dvoo3wu0v/image/upload/v1585256892/patient-img_iw3nbk.jpg"
          alt="Patient Image"
        />
      </div>
    </div>
  </div>
</div>
