<div class="card-deck">
  <div class="card">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dvoo3wu0v/image/upload/v1585250786/arrayImg_jd1icf.png"
      [routerLink]="['/array-list']"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Array List Implementation</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dvoo3wu0v/image/upload/v1585250786/linkedListImg_pizoet.png"
      [routerLink]="['/linked-list']"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Linked List implementation</h5>
      <p class="card-text">
        This card has supporting text below as a natural lead-in to additional
        content.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
