<div class="card-deck">
  <div class="card">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dvoo3wu0v/image/upload/v1585250786/arrayImg_jd1icf.png"
      [routerLink]="['/array-list']"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Array List Implementation</h5>
      <p class="card-text">
        Implementation of the program with an ArrayList data structure.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dvoo3wu0v/image/upload/v1585250786/linkedListImg_pizoet.png"
      [routerLink]="['/linked-list']"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Linked List implementation</h5>
      <p class="card-text">
        Implementation of the program with a Linked List Data Structure
      </p>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>

<h4 class="mt-5 mb-3"><b>Developed by Group 3:</b></h4>

<ul>
  <li>Thais Contreras (1069118)</li>
  <li>Enrique Rodríguez (1093894)</li>
  <li>Miguel Jiménez (1097821)</li>
</ul>
